.checkout button{
    padding: .5rem 1.25rem;
    background-color: rgb(255 87 7);
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}