.form-container{
    max-width: 600px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: center;
    box-shadow: -3px 3px 8px 0px #f1820170;
    padding-bottom: 2rem;

}

.form-title{
    font-size: 35px;
    color:rgb(253, 138, 6);
    font-weight: semibold;
}
.form-link{
    text-decoration: none;
    color: rgb(253, 138, 6);
}
.input-items {
    margin-bottom: 20px;
}
.input-items label{
    display: block;
    padding:5px;
}
.input-items input{
    display: block;
    width: 100%;
    border: 1px solid #95A0A7;
    height:55px;
    padding:10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 24px;
}

.form-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-bottom div {
    opacity: .25;
    height: 1px;
    background: #000;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
}